---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Portfolio Pablo">

	<Navbar></Navbar>

	<main class="p-10">
		<div role="list" class="link-card-grid flex gap-4 flex-wrap justify-center">
			<Card
				image='https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp'
				title="Contador"
				description="Cuenta atrás sobre una fecha seleccionada"
				hrefCode="https://github.com/PabloGonzalez12/ClienteTarea1"
				hrefExecutable="https://pablogonzalez12.github.io/ClienteTarea1/"
			/>

			<Card
				image='https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp'
				title="Contador"
				description="Cuenta atrás sobre una fecha seleccionada"
				hrefCode="https://github.com/PabloGonzalez12/ClienteTarea1"
				hrefExecutable="https://pablogonzalez12.github.io/ClienteTarea1/"
			/>

			<Card
				image='https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp'
				title="Contador"
				description="Cuenta atrás sobre una fecha seleccionada"
				hrefCode="https://github.com/PabloGonzalez12/ClienteTarea1"
				hrefExecutable="https://pablogonzalez12.github.io/ClienteTarea1/"
			/>

			<Card
				image='https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp'
				title="Contador"
				description="Cuenta atrás sobre una fecha seleccionada"
				hrefCode="https://github.com/PabloGonzalez12/ClienteTarea1"
				hrefExecutable="https://pablogonzalez12.github.io/ClienteTarea1/"
			/>

			<Card
				image='https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp'
				title="Contador"
				description="Cuenta atrás sobre una fecha seleccionada"
				hrefCode="https://github.com/PabloGonzalez12/ClienteTarea1"
				hrefExecutable="https://pablogonzalez12.github.io/ClienteTarea1/"
			/>
		</div>
	</main>
</Layout>