---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Portfolio Pablo">

	<Navbar></Navbar>

	<main class="p-10">
		<div role="list" class="link-card-grid flex gap-4 flex-wrap justify-center">
			<Card
				image="https://raw.githubusercontent.com/PabloGonzalez12/AstroPortfolio/refs/heads/main/src/images/cuenta_atras.png"
				title="Contador"
				description="Cuenta atrás sobre una fecha seleccionada"
				hrefCode="https://github.com/PabloGonzalez12/ClienteTarea1"
				hrefExecutable="https://pablogonzalez12.github.io/ClienteTarea1/"
			/>

			<Card
				image='https://raw.githubusercontent.com/PabloGonzalez12/AstroPortfolio/refs/heads/main/src/images/exploding_cards.png'
				title="Exploding Cards"
				description="Juego de cartas"
				hrefCode="https://github.com/PabloGonzalez12/exploding_cards"
				hrefExecutable="https://pablogonzalez12.github.io/exploding_cards/"
			/>

			<Card
				image='https://raw.githubusercontent.com/PabloGonzalez12/AstroPortfolio/refs/heads/main/src/images/splitwise.png'
				title="Splitwise"
				description="Aplicación para gestionar gastos"
				hrefCode="https://github.com/PabloGonzalez12/splitwise"
				hrefExecutable="https://pablogonzalez12.github.io/splitwise/"
			/>

			<Card
				image='https://raw.githubusercontent.com/PabloGonzalez12/AstroPortfolio/refs/heads/main/src/images/customizer.png'
				title="Customizer"
				description="Personalización de camisetas con personajes del videojuego Valorant"
				hrefCode="https://github.com/PabloGonzalez12/Customizer"
				hrefExecutable="https://pablogonzalez12.github.io/Customizer/"
			/>

			<Card
				image='https://raw.githubusercontent.com/PabloGonzalez12/AstroPortfolio/refs/heads/main/src/images/zonaSafari.png'
				title="Customizer"
				description="Zona safari del pokemon rojo en phaser"
				hrefCode="https://github.com/PabloGonzalez12/Safari_Zone"
				hrefExecutable="https://bcpaburo.itch.io/safari-zone"
			/>

			<Card
				image='https://raw.githubusercontent.com/PabloGonzalez12/AstroPortfolio/refs/heads/main/src/images/stickyNotes.png'
				title="Customizer"
				description="Sticky Notes con IndexedDB"
				hrefCode="https://github.com/PabloGonzalez12/StickyNotesStorage"
				hrefExecutable="https://pablogonzalez12.github.io/StickyNotesStorage/"
			/>

			<Card
				image='https://raw.githubusercontent.com/PabloGonzalez12/AstroPortfolio/refs/heads/main/src/images/gas_stations.png'
				title="Gas Stations in Spain"
				description="List of gas stations in Spain with filters"
				hrefCode="https://github.com/PabloGonzalez12/Ajax"
				hrefExecutable="https://pablogonzalez12.github.io/Ajax/"
			/>

			<Card
				image='https://raw.githubusercontent.com/PabloGonzalez12/AstroPortfolio/refs/heads/main/src/images/slider.png'
				title="Slider Web Emprendimiento"
				description="Slider del proyecto de la web de emprendimiento"
				hrefCode="https://github.com/PabloGonzalez12/web_emprendimiento"
				hrefExecutable="https://pablogonzalez12.github.io/web_emprendimiento/"
			/>

		</div>
	</main>
</Layout>